* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  height: 100%;
}
gmp-map {
  padding: 4rem 0rem;
  height: 90%;
  width: 50%;
  display: block;
  margin-left: 25%;
  margin-bottom: 10%;
}
.header {
  /* padding: 0 3rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav__item {
  margin-left: 2rem;
}
.nav__link {
  padding: 0.5rem;
  border: solid 1px #e7e7e7;
  border-radius: 10rem;
  text-decoration: none;
  color: #444;
  background-color: #efe2ff;
}
.about__us {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
/* #about__us {
  /* height: 100%; */
/* margin-bottom: 10%;} */

/* CALENDAR */
.wrapper {
  margin-left: 25%;
  display: block;
  align-items: center;
  justify-content: center;
  width: 450px;
  background: #fff;
  border-radius: 10px;
}

.wrapper .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}
.date .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.date .icons span {
  height: 38px;
  width: 38px;
  color: #878787;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.date .icons span:hover {
  background: #f2f2f2;
}
.date .icons span :last-child {
  margin-right: -10px;
}
.calendar {
  padding: 20px;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.calendar .weeks li {
  font-weight: 500;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li:hover::before {
  background: #f2f2f2;
}
.days li.active::before {
  background: #9b59b6;
}
/* END OF CALENDAR */
