* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  height: 100%;
}
gmp-map {
  padding-top: 5rem;
  height: 90%;
  width: 70%;
  display: block;
  margin-left: 15%;
  margin-bottom: 5%;
}
.header {
  /* padding: 0 3rem; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-image: url(slike/1.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav__links {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}
.nav__item {
  margin-left: 2rem;
}
.nav__link {
  padding: 0.5rem;
  border: solid 1px #e7e7e7;
  border-radius: 10rem;
  text-decoration: none;
  color: #444;
  background-color: #efe2ff;
}
#about__us {
  display: flex;
}
.about__us {
  position: relative;
  margin: 30px;
  margin-top: 200px;
  border-radius: 5rem;
  width: 800px;
  height: 400px;
  background-color: #e7e7e7 !important;
}
.info {
  position: absolute;
  bottom: 0;
  font-size: 17px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}
i {
  padding-left: 5px;
}
b {
  padding-left: 5px;
}
.slider {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 250px;
  width: 550px;
  height: 800px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  cursor: pointer;
}
.slider__btn--left {
  left: 10%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 10%;
  transform: translate(50%, -50%);
}
.slide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide img {
  max-width: 550px;
  height: 800px;
  object-fit: cover;
  display: flex;
}
#login {
  align-items: center;
  vertical-align: middle;
}
.login {
  padding: 0.5rem;
  border: solid 1px #e7e7e7;
  border-radius: 10rem;
  text-decoration: none;
  background-color: #efe2ff;
  text-align: center;
  width: 80px;
  font-family: inherit;
  font-size: 15px;
}
::placeholder {
  color: #444;
}
.login__btn {
  border: none;
  border-radius: 10px;
  background: #efe2ff;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
  vertical-align: middle;
}
.logout__btn {
  border: solid 1px #e7e7e7;
  border-radius: 10rem;
  font-size: 1.2rem;
  padding: 5px;
  margin-left: 10px;
  margin-right: 15px;
  background: #efe2ff;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
  font-family: inherit;
}
/* #about__us {
  /* height: 100%; */
/* margin-bottom: 10%;} */

/* CALENDAR */
.wrapper {
  margin-left: 10%;
  margin-bottom: 10%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.wrapper .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}
.date .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.date .icons span {
  height: 38px;
  width: 38px;
  color: #878787;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.date .icons span:hover {
  background: #f2f2f2;
}
.date .icons span :last-child {
  margin-right: -10px;
}
.calendar {
  padding: 20px;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.calendar .weeks li {
  font-weight: 500;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li:hover::before {
  background: #f2f2f2;
}
.days li.active::before {
  background: #9b59b6;
  border: solid 3px #9b59b6;
}
.days li.selected::before {
  background: #ebb7ff !important;
  /* pointer-events: none; */
}
.days li.checkin::before {
  background: #face4a !important;
}
/* END OF CALENDAR */

/* FORM */
.form {
  display: inline-block;
  margin-left: 10%;
  box-sizing: border-box;
  vertical-align: top;
  color: #fff;
  font-size: 20px;
  /* align-items: center;
  justify-content: center;
  background: #c2b0b0; */
}

.form input {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin: 10px 0px 10px;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
.form input[type="submit"] {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
#reserved,
#open {
  font-size: 15px;
  border: solid 2px #e7e7e7;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

.booked::before {
  content: "";
  color: #fff;
  background: #ff6161 !important;
  pointer-events: none !important;
}
.section-3 {
  height: 90vh;
  padding-top: 5%;
  background-image: url(slike/1.jpg);
  background-size: cover;
  background-position: center;
}
.form-data {
  display: inline-block;
  margin-left: 10%;
  box-sizing: border-box;
  vertical-align: top;
  color: #ffffff;
  font-size: 20px;
}
.form-data input {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin: 10px 0px 10px;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
